{% extends 'header.html' %} {% block content %}
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8">
                        <h2>Listado de <strong>FAVORITOS</strong></h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Imagen</th>
                        <th>Título <i class="fa fa-sort"></i></th>
                        <th>Descripción</th>
                        <th>Fecha <i class="fa fa-sort"></i></th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favorito in favourite_list %}
                    <tr>
                        <td>-</td>
                        <td><img src="{{ favorito.image_url }}" alt="" style="max-width: 200px; max-height: 200px;"></td>
                        <td>{{ favorito.title }}</td>
                        <td>{{ favorito.description }}</td>
                        <td>{{ favorito.date }}</td>
                        <td>
                            <form method="post" action="{% url 'borrar-favorito' %}">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ favorito.id }}">
                                <button type="submit" class="btn" style="color:red"><i class="material-icons">&#xE872;</i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}